*{
    margin:0%;
    padding:0%;
}
html,body{
    width: 100%;
    height:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#hello{
    background-color: black;
    width: 100px;
    height: 197px;
    display: flex;
    flex-direction: column;
   
}
#rr{
    animation: hr 2s ease-in-out 8s 1 normal;

}
#yy{
    animation: hy 2s ease-in-out 4s 1 normal;
}
#gg{
    animation: hg 2s ease-in-out 8s 1 normal;
}
.w{
    border-radius:50%;
    border:2px solid black;

    height: 60px;
    padding:1px;
}
@keyframes hr{
    from{background :black;}
    to{background:red;}
}
@keyframes hy{
    from{background : black;}
    to{background:yellow;}
}
@keyframes hg{
    from{background : black;}
    to{background:green;}
}

   

